*{
    box-sizing: border-box;
}

.loader {
    margin-top: 30vh;
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
  }

  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;
    background-color: rgb(242, 204, 161);
    box-shadow: 30px 0 0 rgb(236, 136, 15);
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite;
    background-color: rgb(236, 136, 15);
    box-shadow: 30px 0 0 rgb(242, 204, 161);
  }

  @keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 rgb(236, 136, 15);
    }
    50% {
      box-shadow: 0 0 0 rgb(236, 136, 15);
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 rgb(236, 136, 15);
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 rgb(242, 204, 161);
    }
    50% {
      box-shadow: 0 0 0 rgb(242, 204, 161);
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 rgb(242, 204, 161);
      margin-top: 0;
    }
  }
  
.fond{
    background-color: rgb(236, 136, 15);

}

#container{
    justify-content: center;
    background-color: rgb(242, 204, 161);
    width: 900px;
    padding: 100px;
    text-wrap: wrap;
}

body{
    margin:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: whitesmoke;
    font-size: 30px;
    font-weight: lighter;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

span{
    color: rgb(236, 136, 15);
    font-style: oblique;
    font-weight: bold;
}

label{
    font-weight: bold;
}

input{
  margin-bottom: 20px;
  border-style: none;
  border: 2px solid rgb(236, 136, 15);
}

input,textarea{
    background-color: rgba(245, 245, 245, 0.616);
}


.errorText{
    color: red;
    font-style: italic;
}

.pseudoText{
  color: whitesmoke;
  font-family: 'arial';
  font-size: 20px;
  padding: 5px;
  border: 2px solid rgb(236, 136, 15);
  border-radius: 5px;
}

button{
    background-color: rgb(236, 136, 15);
    color: whitesmoke;
    font-weight: bold;
    border-style: none;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
}

button:hover{
    color: rgb(236, 136, 15);
    background-color: whitesmoke;
}